<!--会員側投稿詳細-->

<div class='container my-5'>

  <div class='row'>

    <div class='col-md-8 offset-md-1'>
      <%= attachment_image_tag @post.user, :profile_image, :fill, 300, 300, fallback: 'no_image.jpg', size:'50x50' %>
      <%= link_to users_show_path(@user), class: 'no-underline', 'data-turbolinks': false do %>
        @<%= @post.user.name_id %>
      <% end %>
    </div>

    <div class='col-md-8 offset-md-1 mt-3'>
      <%= attachment_image_tag(@post, :image, :fill, 500, 450, size:'500x450', fallback: 'no_image.jpg' ) %>
      <%= @post.caption %>
    </div>

    <!--いいね-->
    <div class='col-md-8 offset-md-1 text-right'>
      <div id="favorite_<%= @post.id %>"><%= render "public/favorites/favorite", post: @post %></div>
    </div>

    <!--削除ボタン-->
    <div class='col-md-8 offset-md-1 text-right'>
      <% unless current_user != @user %>
        <%= link_to "削除", post_path(@post), method: :delete, class:'btn btn-danger', 'data-confirm' => '本当に削除しますか？' %>
      <% end %>
    </div>

  </div>

  <!--コメント機能-->
  <div class='row mt-5'>
    <div class='col-md-8 offset-md-1'>

      <div id='comment_list'>
        <%= render "public/post_comments/comment_list", post: @post %>
      </div>

      <div>
        <%= render "public/post_comments/comment_form", post: @post, post_comment: @post_comment %>
      </div>

    </div>
  </div>

</div>