<!--管理者側投稿詳細-->

<div class='container my-5'>

  <div class='row mt-3'>

    <!--ユーザー-->
    <div class='col-md-8 offset-md-1'>
      <%= attachment_image_tag @post.user, :profile_image, :fill, 300, 300, fallback: 'no_image.jpg', size:'50x50' %>
      <%= link_to admin_user_path(@post.user_id), class: 'no-underline', 'data-turbolinks': false do %>
        @<%= @post.user.name_id %>
      <% end %>

      <!--タグ-->
    <div class='col-md-8 offset-md-1 border'>
      登録タグ：
      <% if @tags.present? %>
        <% @tags.each do |tag| %>
          <%= "#{tag.name}(#{tag.taggings_count})" %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class='row mt-3'>

    <!--投稿画像-->
    <div class='col-md-4 offset-md-2'>
      <%= attachment_image_tag(@post, :image, :fill, 500, 450, size:'500x450', fallback: 'no_image.jpg' ) %>
    </div>

    <!--投稿-->
    <div class='col-md-6 offset-md-5'>
      <%= @post.caption %>
    </div>

    <!--いいね-->
    <div class='col-md-6 offset-md-1 text-right'>
      <i class="fas fa-heart"></i>
      <%= @post.favorites.count %>
    </div>

    <!--削除ボタン-->
    <div class='col-md-6 offset-md-1 text-right'>
      <%= link_to "削除", post_path(@post), method: :delete, class:'btn btn-danger', 'data-confirm' => '本当に削除しますか？' %>
    </div>

  </div>

</div>

<!--コメント機能-->
<div class='container my-5'>
  <div class='row mt-5'>
    <div class='col-md-10 offset-md-1'>

      <div id='comment_list'>
        <%= render "admin/posts/comment_list", post: @post %>
      </div>

    </div>
  </div>
</div>