<h3>コメント一覧</h3>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>ユーザー</th>
      <th>コメント</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% post.post_comments.each do |post_comment| %>
    <tr>
      <td><%= attachment_image_tag post_comment.user, :profile_image, :fill, 300, 300, fallback: 'no_image.jpg', size:'50x50' %></td>

      <td>
      <%= link_to users_show_path(current_user.name_id) do %>
      <%= post_comment.user.name %>
      <% end %>
      </td>

      <td><%= post_comment.comment %></td>

      <% if post_comment.user_id == current_user.id %>
      <td><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class:"btn btn-sm btn-danger" %></td>
      <% else %>
      <td></td>
      <% end %>

      <td class="small"><%= post_comment.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <% end %>

  </tbody>
</table>