<!--管理者側ユーザー詳細-->

<div class='container my-5'>

  <div class='row mb-3'>
    <div class='col-md-3 offset-md-1'>

      <h4>@<%= @user.name_id %></h4>

    </div>
  </div>

  <div class='row'>
    <div class='col-md-10 offset-md-1'>

      <div class='text-center'>
        <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: 'no_image.jpg', size:'200x200' %>
      </div>

    <table class='table mt-3'>
      <thead class='thead-light'>
        <tr>
          <th>ユーザー情報</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <th class='text-center'>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>

        <tr>
          <th class='text-center'>ニックネーム</th>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <th class='text-center'>ユーザーID</th>
          <td>@<%= @user.name_id %></td>
        </tr>

        <tr>
          <th class='text-center'>Introduction</th>
          <td><%= @user.introduction %></td>
        </tr>

      </tbody>
    </table>

    <div class='text-right'>
      <%= link_to '一覧に戻る', admin_users_path, class: 'btn btn-outline-secondary btn-sm' %>
      <%= link_to 'ユーザー情報を編集', edit_admin_user_path, class: 'btn btn-outline-primary btn-sm' %>
    </div>

    </div>
  </div>

</div>