<header>

  <nav class='navbar navbar-expand-lg'>
    <div class='container'>

      <!--ロゴ-->
      <a href='/'><%= image_tag 'logo_edit.png', width: '70%', height: '70%' %></a>

      <!--ハンバーガーアイコン-->
      <button class='navbar-toggler navbar-dark bg-dark' type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>


      <div class='collapse navbar-collapse gnav' id='navbarNavDropdown'>

        <!--管理者ログイン時-->
        <% if admin_signed_in? %>
        <ul class='navbar-nav ml-auto'>
          <li class='welcome'>管理者ログイン中</li>

          <li class='nav-item'><%= link_to '投稿', admin_posts_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ユーザー', admin_users_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'イベント', admin_events_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'グループ', admin_groups_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:'nav-link', 'data-confirm' => '本当にログアウトしますか？' %></li>
        </ul>

        <!--会員ログイン時-->
        <% elsif user_signed_in? %>

        <!--ようこそ-->
        <div class='welcome text-right'>
        Welcome,
        <%= link_to users_show_path(current_user.name_id) do %>
          @<%= current_user.name_id %>
        <% end %>
        !!
        </div>

        <ul class='navbar-nav ml-auto'>
          <li class='nav-item'><%= link_to '全ての投稿', posts_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'イベント', events_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'グループ', groups_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'お問い合わせ', new_contact_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'nav-link', 'data-confirm' => '本当にログアウトしますか？' %></li>
        </ul>

        <!--会員未ログイン時-->
        <% else %>
        <ul class='navbar-nav ml-auto'>
          <li class='nav-item'><%= link_to 'トップ', root_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to '全ての投稿', posts_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to '新規登録', new_user_registration_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ログイン', new_user_session_path, class:'nav-link' %></li>
          <li class='nav-item'><%= link_to 'お問い合わせ', new_contact_path, class:'nav-link' %></li>
        </ul>
        <% end %>

      </div>

    </div>
  </nav>

</header>